body {
    background-color: #63FFB7;
}

nav img { 
    width: 85px;
    height: 80px;
    padding-left: 40px;
    transform: rotate(-10deg);
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #9F7DFF;
    border-radius: 10px 20px 30px;
    margin-top: -98px;
}

li a:active {
    color: Thistle;
    cursor: pointer;
}

li a:hover {
    color: #63FFB7;
}

@font-face {
    font-family: "Amatic SC";  
    src: url("fonts/AmaticSC-Regular.woff2") format('woff2'), 
         url("fonts/AmaticSC-Regular.ttf")   format('ttf');   
  }

ul li {
    font-family: "Amatic SC", cursive;
    font-size: 17px;
    color: white;
    margin-right: 2em;
    margin-top: 30px;
    margin-bottom: 20px;
}
ul li a{
    font-family: "Amatic SC", cursive;
    font-size: 17px;
    color: white;
    margin-right: 2em;
    margin-top: 30px;
    margin-bottom: 20px;

}

@font-face {
    font-family: "Roboto";  
    src: url("fonts/Roboto-Regular.woff2") format('woff2'), 
         url("fonts/Roboto-Regular.ttf")   format('ttf');   
}

section {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    font-size: 18px;
}


section #textone {
    width:300px;
    height:440px;
    border-radius: 5px 40px 5px 40px;
    background-image: linear-gradient( to left top, #9f7dff, #8d63ff);
    margin-top: 5em;
    margin-left: 14em;
    padding: 5px 1em 2px 1em;
}

section #texttwo {
    width:300px;
    height:440px;
    border-radius:40px 5px 40px 5px;
    background-image: linear-gradient( to right top,  #9f7dff, #8d63ff);
    margin-left: 40em;
    margin-top: -25em;
    padding: 5px 1em 2px 1em;
}